/* Fondo */
body {
  background-image: linear-gradient(to bottom, #E5DACF, #E5DACF);
  font-family: Impact, sans-serif;
  margin: 0;
  padding: 0;
}

/* Tipografía y colores */
h1 {
  color: #E65E07;
}
h2 {
    color: #E5DACF;
}
p, li {
  color: #333;
  font-size: 1rem;
}

/* Encabezado y navegación */
header {
  background-color: #E5DACF;
  color: #1A2526;
  text-align: center;
  padding: 20px 0;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 15px;
}

nav a {
  color: #1A2526;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

/* Contenido principal */
main {
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
  background-color: #E65E07;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

section {
  margin-bottom: 30px;
}

/* Botón */
button {
  background-color: #E5DACF;
  color: #1A2526;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #E5DACF;
}

/* Pie de página */
footer {
  background-color: #E65E07;
  color: #1A2526;
  text-align: center;
  padding: 15px;
  margin-top: 30px;
}
